body{
    background-color: #202020;
}
.product-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #202020;
    padding: 20px;
    gap: 20px;
}

.image-gallery {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.thumbnail img {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    cursor: pointer;

}

.main-image img {
    width: 550px;

    padding: 10px;
}

.product-details {

    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-details p {
    color: #fff;
}

.product-details .nome-carro,
.marca-carro,
.avaliacao-carro,
.cor-carro {
    font-size: 20px;
}

.product-details hr {
    border: 0.1rem solid #fff;
    width: 90%;
}

.product-details .preco {
    font-size: 25px;
    color: #fff;
}

.container-detalhes {
    justify-content: space-between;
    display: flex;
    width: 90%;
    flex-direction: row;
    align-items: center;
}

.container-detalhes select {
    padding-left: 20px;
    width: 200px;
    height: 55px;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: #2D2D2D;
    box-shadow: 2px 2px 5px rgba(192, 192, 192, 0.5);
}

.container-detalhes .qtd {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    border: none;
    text-align: center;
}

.carousel {
    display: none;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.color-opcoes {
    display: flex;
    align-items: center;
    gap: 30px;
}

.color {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.buttons{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 90%;
    justify-content: space-between;

}

.btn-add, .btn-comprar {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    white-space: nowrap; /* Impede quebra de linha no texto */
    color: #fff;
    border-radius: 5px;
    background-color: #2D2D2D;
    box-shadow: 2px 2px 5px rgba(192, 192, 192, 0.5);
}

.btn-add {
    margin-left: 30px;
}


.description{
    text-align: justify;
}
.description p{
    color: #fff;
    font-size: 18px;
    letter-spacing: 1px;
}
.description .description-titulo{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.d-hr{
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}